<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/studentnav.html}">
    </nav>
    <!-- content -->
    <div class="container">
      <!-- Announcement -->
      <!-- Past Announcment -->

      <div th:each="announcement:${announcements}">
        <!-- past announcement content -->
        <div class="card row mx-lg-4 mt-3">
          <h5 class="pt-3">
            <i class="fa-solid fa-bullhorn"> &nbsp &nbsp</i
            ><span th:text="${announcement.title}">Announcement</span>
          </h5>
          <div th:text="${announcement.content}">
            This is some text within a card body.
          </div>
          <div
            class="text-end text-muted"
            id="postDateTime"
            th:text="${announcement.postDateTime}"
          >
            2023-12-23
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
