<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/studentnav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- Lesson -->
      <!-- Past Lesson -->
      <div th:each="lesson:${lessons}">
        <!-- past lesson content -->
        <div class="card row mx-lg-4 mt-3">
          <h5 class="pt-3">
            <i class="fa-solid fa-book-open-reader"> &nbsp &nbsp</i
            ><span th:text="${lesson.title}">Lesson</span>
          </h5>
          <div th:text="${lesson.content}">
            This is some text within a card body.
          </div>
          <a th:href="${lesson.resourceLink}">resource</a>
          <div class="text-end text-muted" th:text="${lesson.postDateTime}">
            2023-12-23
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}"></footer>
</html>
