<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <!-- setting  trigger modal -->
        <i
          class="fa-regular fa-user"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
          >&nbsp &nbsp</i
        >
        <a class="navbar-brand" href="/studenthome">Student Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Manage Class</a
              >
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    >Join a class</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal2"
                    href="#"
                    >Drop a class</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Anchor trigger modal -->
    <!-- add a class Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Join a class</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              method="post"
              th:action="@{student/addCourse}"
              id="joinCourse"
            >
              <select
                class="form-select"
                aria-label="Default select example"
                th:name="addCourseId"
              >
                <option selected>Select a course you want to join</option>
                <div th:each="course:${allCourseList}">
                  <option
                    th:value="${course.id}"
                    th:text="${course.name}"
                  ></option>
                </div>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" form="joinCourse">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- delete a class Modal -->
    <div
      class="modal fade"
      id="exampleModal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Drop a class</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              method="post"
              th:action="@{/student/deleteCourse}"
              id="deleteCourse"
            >
              <select
                class="form-select"
                aria-label="Default select example"
                th:name="deleteCourseId"
              >
                <option selected>Select a course you want to drop</option>
                <div th:each="course:${courseList}">
                  <option
                    th:value="${course.id}"
                    th:text="${course.name}"
                  ></option>
                </div>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary" form="deleteCourse">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- user setting modal -->
    <div
      class="modal fade"
      id="exampleModal3"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change User Info</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              class="needs-validation"
              method="post"
              th:action="@{/student/updateStudent}"
              id="changeStudentInfo"
            >
              <div class="mb-3">
                <label for="rename" class="form-label">Your Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="rename"
                  th:placeholder="${student.name}"
                  th:value="${student.name}"
                  th:name="newName"
                />
              </div>
              <div class="mb-3">
                <label for="reemail" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="reemail"
                  th:placeholder="${student.email}"
                  th:value="${student.email}"
                  disabled
                />
              </div>
              <div class="mb-3">
                <label for="newGuardianName" class="form-label"
                  >Guardian Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="newGuardianName"
                  th:placeholder="${student.guardianName}"
                  th:value="${student.guardianName}"
                  th:name="newGuardianName"
                />
              </div>
              <div class="mb-3">
                <label for="newGuadianEmail" class="form-label"
                  >Guardian Email</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="newGuaridanEmail"
                  th:placeholder="${student.guardianEmail}"
                  th:value="${student.guardianEmail}"
                  th:name="newGuardianEmail"
                />
              </div>

              <div class="mb-3">
                <label for="repassword" class="form-label">password</label>
                <input
                  type="password"
                  class="form-control"
                  id="repassword"
                  minlength="6"
                  maxlength="10"
                  required
                  th:name="newPassword"
                />
              </div>
              <div class="mb-3">
                <label for="repeatpassword" class="form-label"
                  >repeat password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="repeatpassword"
                  minlength="6"
                  maxlength="10"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              form="changeStudentInfo"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- class card -->
    <div class="container">
      <div class="row">
        <div class="col-4 mt-3" th:each="course:${courseList}">
          <div class="card shadow" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title" th:text="${course.name}"></h5>
              <p></p>
              <p class="card-text" th:text="${course.description}"></p>
              <p class="card-text" th:text="${course.schedule}"></p>
              <a class="card-text" th:href="${course.zoom}"> course zoom </a>
              <p></p>
              <a
                href="#"
                class="btn btn-primary"
                th:href="@{/student/course/{id}(id = ${course.id})}"
                >Go to class</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- script to validate password -->
    <script>
      var repeatPasswordCheck = function () {
        var password = document.getElementById("repassword");
        var repeatPassword = document.getElementById("repeatpassword");
        if (password.value != repeatPassword.value) {
          repeatPassword.setCustomValidity("different password");
        } else {
          repeatPassword.setCustomValidity("");
        }
      };
      var form = document.getElementById("changeTeacherInfo");
      form.addEventListener("change", repeatPasswordCheck);
    </script>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
