<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/studentnav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- Lesson -->
      <!-- Past Assignment -->
      <div th:each="assignment,stat:${assignmentWithSubmission}">
        <!-- Past Assignment content-->
        <div class="card row mx-lg-4 mt-3">
          <h5 class="pt-3">
            <i class="fa-regular fa-clipboard"> &nbsp &nbsp</i>
            <span th:text="${assignment.key.title}">Assignment 1</span>
          </h5>
          <div class="row text-muted">
            <div class="col-auto">
              Post Date
              <span th:text="${assignment.key.postDateTime}">08/29/2012</span>
            </div>
            <div class="col-auto">
              Due Date
              <span th:text="${assignment.key.dueDate}">08/29/2012</span>
            </div>
            <div class="col-auto">
          
            <div class="col-auto">Grade: 
              <span th:if="${assignment.value == -1}">Unsubmitted</span>
              <span th:unless="${assignment.value == -1}" th:text = "${assignment.value}"></span>
            </div>
          </div>
          <div th:text="${assignment.key.content}">
            This is some text within a card body.
          </div>
          <a th:href="${assignment.key.resourceLink}">resource</a>
          <div class="text-end text-muted">
            <span th:if="${assignment.value == -1}">
            <i
              class="fa-solid fa-arrow-up-from-bracket"
              data-bs-toggle="modal"
              th:attr="data-bs-target='#submit-assignment'+${assignment.key.id}"
              >&nbsp &nbsp
            </i>
          </span>
          <span th:unless="${assignment.value == -1}"></span>
          </div>
        </div>
        <!-- upload assignment modal -->
        <div
          class="modal fade"
          th:id="'submit-assignment'+${assignment.key.id}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">
                  Submit SharedLink for your assignment
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  method="post"
                  th:id="'submission-form'+${assignment.key.id}"
                  th:action="@{/student/course/{courseId}/submitAssignment/{assignmentId}(assignmentId=${assignment.key.id},courseId=${courseId})}"
                >
                  <label for="submissionLink" class="form-label">Submission Link</label>
                  <input
                    type="url"
                    id="submissionLink"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="submissionLink"
                    th:text="*{submissionLink}"
                  />
                </form>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  th:form="'submission-form'+${assignment.key.id}"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div></body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
