<!DOCTYPE html>
<html lang="en">
  <!-- <head th:insert="~{fragments/header.html}"> </head> -->
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- grade assignment-->
      <h4 class="pt-2" th:text = "${assignment.title}">Assignment Name</h4>
      <p>
        Post Date <span th:text = "${assignment.postDateTime}"> 2013-08-03 </span> &nbsp &nbsp &nbsp<span th:text = "${assignment.dueDate}">
          Due Date 2013 09-02</span
        >  
      </p>

      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Student Name</th>
          <th>Student Submission</th>
          <th>Submission Time</th>
          <th>Grade</th>
        </tr>
        <!-- th:id="'submission'+${submission.id}" -->
        <form 
        id="form"
        method="post"
        th:action ="@{/teacher/course/{courseId}/gradeAssignment/{assignmentId}/grade(courseId=${courseId}, assignmentId = ${assignmentId})}"
        >
        <tr th:each="submission: ${submissions}">
          <td th:text="${submission.student.id}">1</td>
          <td th:text="${submission.student.name}">Li Chen</td>
          <td><a th:href="${submission.submissionLink}">Submission</a></td>
          <td th:text="${submission.submissionTime}">2013-08-23 08:45 AM</td>
          <td><input class= "form-control" type="number" th:name ="gradesArray" th:placeholder="${submission.grade}" th:value="${submission.grade}" required min="0" max="100"> </input></td>
        </tr>
      </form>
      </table>
      <button type="submit" class="btn btn-primary" form="form">Save</button>
    
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
