<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- Announcement -->
      <!-- Make Announcement -->
      <div class="card row mx-lg-4 mt-3">
        <form
          class="m-1"
          method="post"
          th:action="@{/teacher/course/{courseId}/addAnnouncement(courseId=${courseId})}"
          th:object="${newAnnouncement}"
        >
          <input
            type="text"
            class="form-control m-1"
            id="announcementTitle"
            placeholder="Announcement Title"
            th:field="*{title}"
            required
          />

          <div class="form-floating">
            <textarea
              class="form-control m-1"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              th:field="*{content}"
              required
            ></textarea>
            <label for="floatingTextarea2" class="text-muted"
              >Announcement Content</label
            >
          </div>
          <button type="submit" class="btn btn-primary m-1">Submit</button>
        </form>
      </div>
      <!-- Past Announcment -->
      <div th:each="announcement:${announcements}">
        <!-- past announcement content -->
        <div class="card row mx-lg-4 mt-3">
          <h5 class="pt-3">
            <i class="fa-solid fa-bullhorn"> &nbsp &nbsp</i
            ><span th:text="${announcement.title}">Announcement</span>
          </h5>
          <div th:text="${announcement.content}">
            This is some text within a card body.
          </div>
          <div class="text-end text-muted">
            <span id="postDateTime" th:text="${announcement.postDateTime}">
              2023-12-23
            </span>
            <span>
              &nbsp &nbsp
              <a
                th:href="@{/teacher/course/{courseId}/deleteAnnouncement/{announcementId}(announcementId=${announcement.id},courseId=${courseId})}"
              >
                <i class="fa-solid fa-trash-can">&nbsp &nbsp &nbsp</i></a
              >
              <i
                class="fa-solid fa-pen"
                data-bs-toggle="modal"
                th:attr="data-bs-target='#edit-modal'+${announcement.id}"
              ></i
              >&nbsp &nbsp</span
            >
          </div>
        </div>
        <!-- edit announcement modal -->
        <div
          class="modal fade"
          th:id="'edit-modal'+${announcement.id}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Announcement</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  method="post"
                  th:id="'form'+${announcement.id}"
                  th:action="@{/teacher/course/{courseId}/editAnnouncement/{announcementId}(announcementId=${announcement.id},courseId=${courseId})}"
                  th:object="${editAnnouncement}"
                >
                  <label for="title" class="form-label">Title</label>
                  <input
                    type="text"
                    id="title"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="title"
                    th:field="*{title}"
                    th:placeholder="${announcement.title}"
                  />

                  <label for="content" class="form-label">Content</label>
                  <textarea
                    rows="4"
                    id="content"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="content"
                    th:field="*{content}"
                    th:placeholder="${announcement.content}"
                  />
                </form>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  th:form="'form'+${announcement.id}"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
