<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- student info -->
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Student Name</th>
          <div th:each="assignment:${assignmentList}">
          <th th:text = "${assignment.title}">Assignment 1</th>
          </div>
        </tr>
          <tr th:each = "studentMap:${studentGradesMap}">
            <td th:text="${studentMap.key.id}">1</td>
            <td th:text="${studentMap.key.name}">Li Chen</td>
            <div th:each = "grade:${studentMap.value}">
              <div th:switch ="${grade}">
                 <td th:case = "-1" >unsubmitted</td>
                 <td th:case = "-2" >Ungraded</td>
                 <td th:case = "*" th:text = "${grade}"></td>
            </div>
          </div>
          </tr>
      </table>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
