<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- Lesson -->
      <!-- Post new lesson -->
      <div class="card row mx-lg-4 mt-3">
        <form
          class="m-1"
          method="post"
          th:action="@{/teacher/course/{courseId}/addLesson(courseId=${courseId})}"
          th:object="${newLesson}"
        >
          <input
            type="text"
            class="form-control m-1"
            id="lessonTitle"
            placeholder="New Lesson Title"
            th:field="*{title}"
            required
          />

          <div class="form-floating">
            <textarea
              class="form-control m-1"
              placeholder="Leave a comment here"
              id="floatingTextarea2"
              style="height: 100px"
              th:field="*{content}"
              required
            ></textarea>
            <label for="floatingTextarea2" class="text-muted"
              >Lesson Instruction</label
            >
          </div>
          <input
            type="text"
            class="form-control m-1"
            id="lessonLink"
            placeholder="Drop resource link here"
            th:field="*{resourceLink}"
          />
          <button type="submit" class="btn btn-primary m-1">Submit</button>
        </form>
      </div>
      <!-- Past Lesson -->
      <div th:each="lesson:${lessons}">
        <!-- past lesson content -->
        <div class="card row mx-lg-4 mt-3">
          <h5 class="pt-3">
            <i class="fa-solid fa-book-open-reader"> &nbsp &nbsp</i
            ><span th:text="${lesson.title}">Lesson</span>
          </h5>
          <div th:text="${lesson.content}">
            This is some text within a card body.
          </div>
          <a th:href="${lesson.resourceLink}">resource</a>
          <div class="text-end text-muted">
            <span th:text="${lesson.postDateTime}"> 2023-12-23</span>
            <span>
              &nbsp &nbsp
              <a
                th:href="@{/teacher/course/{courseId}/deleteLesson/{lessonId}(lessonId=${lesson.id},courseId=${courseId})}"
              >
                <i class="fa-solid fa-trash-can">&nbsp &nbsp &nbsp</i>
              </a>
              <i
                class="fa-solid fa-pen"
                data-bs-toggle="modal"
                th:attr="data-bs-target='#edit-modal'+${lesson.id}"
                >&nbsp &nbsp
              </i></span
            >
          </div>
        </div>
        <!-- edit lesson modal -->
        <div
          class="modal fade"
          th:id="'edit-modal'+${lesson.id}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Lesson</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form
                  method="post"
                  th:id="'form'+${lesson.id}"
                  th:action="@{/teacher/course/{courseId}/editLesson/{lessonId}(lessonId=${lesson.id},courseId=${courseId})}"
                  th:object="${editLesson}"
                >
                  <label for="edit-title" class="form-label">title</label>
                  <input
                    type="text"
                    id="edit-title"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="title"
                    th:field="*{title}"
                    th:placeholder="${lesson.title}"
                  />

                  <label for="edit-content" class="form-label">Content</label>
                  <textarea
                    rows="4"
                    id="edit-content"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="content"
                    th:field="*{content}"
                    th:placeholder="${lesson.content}"
                  />
                  <label for="edit-resource-link" class="form-label"
                    >Resource</label
                  >
                  <input
                    type="url"
                    id="edit-resource-link"
                    class="form-control"
                    aria-describedby="courseNameHelpBlock"
                    name="resourceLink"
                    th:field="*{resourceLink}"
                    th:placeholder="${lesson.resourceLink}"
                  />
                </form>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  th:form="'form'+${lesson.id}"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
