<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head th:insert="~{fragments/header.html}">
  </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- Dashboard -->

      <main>
        <div class="container-fluid px-4">
          <div> <span  class="mt-4 h1" th:text="${course.name}"> Charts  </span>  
           <span> <i class="fa-solid fa-gear"           
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"></i>
          </span> 
          </div>
          <div class="row">
            <div class="col-lg-6 card-group">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  Course Summary
                </div>
                <div class="card-body">
                  <ur>
                    <li>
                      You have
                      <span style="color: red" th:text="${studentEnrolled}"
                        >10</span
                      >
                      students enrolled in this course.
                    </li>
                    <li>
                      Current class grade average is
                      <span style="color: red" th:text="${courseAverage}"
                        >60</span
                      >
                      points.
                    </li>
                    <li>
                      Current failing students are
                      <span style="color: red" th:text="${failingNames}"
                        >Jafer, Amrutha, Tyron</span
                      >
                    </li>
                  </ur>
                </div>
                <div class="card-footer small text-muted"></div>
              </div>
            </div>
            <div class="col-lg-6 card-group">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-chart-pie me-1"></i>
                  Grade Analysis
                </div>
                <div class="card-body">
                  <canvas id="myPieChart" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted"></div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              Average Grade Trend for assignments
            </div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-area me-1"></i>
              Average Grade for each student
            </div>
            <div class="card-body">
              <canvas id="myBarChart" width="100%" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>

   <!-- edit a class Modal -->
   <div
   class="modal fade"
   id="exampleModal"
   tabindex="-1"
   aria-labelledby="exampleModalLabel"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Edit Class Info</h5>
         <button
           type="button"
           class="btn-close"
           data-bs-dismiss="modal"
           aria-label="Close"
         ></button>
       </div>
       <div class="modal-body">
         <form
           method="post"
           id="editclass"
           th:action="@{/teacher/editCourse/{courseId}(courseId = ${course.id})}"
         >
           <label for="courseName" class="form-label">Course Name</label>
           <input
             type="text"
             id="courseName"
             class="form-control"
             aria-describedby="courseNameHelpBlock"
             name = "name"
             th:value = "${course.name}"
           />

           <label for="description" class="form-label"
             >Course Description</label
           >
           <input
             type="text"
             id="description"
             class="form-control"
             aria-describedby="courseNameHelpBlock"
             name = "description"
             th:value = "${course.description}"
           />

           <label type ="url" for="zoom" class="form-label">Zoom Link</label>
           <input
             type="text"
             id="zoom"
             class="form-control"
             aria-describedby="courseNameHelpBlock"
             name = "zoom"
             th:value = "${course.zoom}"
           />

           <label for="schedule" class="form-label">Schedule</label>
           <input
             type="text"
             id="schedule"
             class="form-control"
             aria-describedby="courseNameHelpBlock"
             name = "schedule"
             th:value = "${course.schedule}"
           />
         </form>
       </div>

       <div class="modal-footer">
         <button
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal"
         >
           Close
         </button>
         <button type="submit" class="btn btn-primary" form="editclass">
           Save changes
         </button>
       </div>
     </div>
   </div>
 </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <!-- pie chart script -->
    <script th:inline="javascript">
      /*<![CDATA[*/

      Chart.defaults.global.defaultFontFamily =
        '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = "#292b2c";

      var dataArray = /*[[${courseGradeSummary}]]*/ "default";
      console.log(dataArray);
      var ctx = document.getElementById("myPieChart");
      var myPieChart = new Chart(ctx, {
        type: "pie",
        data: {
          labels: ["A", "B", "C", "D", "F"],
          datasets: [
            {
              data: dataArray,
              backgroundColor: [
                "#007bff",
                "#dc3545",
                "#ffc107",
                "#28a745",
                "#A020F0",
              ],
            },
          ],
        },
      });
      /*]]>*/
    </script>
    <!-- bar chart script -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      // Set new default font family and font color to mimic Bootstrap's default styling
      Chart.defaults.global.defaultFontFamily =
        '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = "#292b2c";

      // Bar Chart
      var studentNames = /*[[${studentNames}]]*/ "default";
      var studentAverageGrades = /*[[${studentAverageGrades}]]*/ "default";
      var ctx = document.getElementById("myBarChart");
      var myLineChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: studentNames,
          datasets: [
            {
              label: "Grades",
              backgroundColor: "rgba(2,117,216,1)",
              borderColor: "rgba(2,117,216,1)",
              data: studentAverageGrades,
            },
          ],
        },
        options: {
          scales: {
            xAxes: [
              {
                time: {
                  unit: "Student",
                },
                gridLines: {
                  display: false,
                },
                ticks: {
                  maxTicksLimit: 6,
                },
              },
            ],
            yAxes: [
              {
                ticks: {
                  min: 0,
                  max: 100,
                  maxTicksLimit: 5,
                },
                gridLines: {
                  display: true,
                },
              },
            ],
          },
          legend: {
            display: false,
          },
        },
      });

      /*]]>*/
    </script>
    <!-- area chart script -->
    <script th:inline="javascript">
      /*<![CDATA[*/
      // Set new default font family and font color to mimic Bootstrap's default styling
      Chart.defaults.global.defaultFontFamily =
        '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = "#292b2c";

      // Area Chart
      var assignmentNames = /*[[${assignmentNames}]]*/ "default";
      var assignmentAvg = /*[[${assignmentAvg}]]*/ "default";
      var ctx = document.getElementById("myAreaChart");
      var myLineChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: assignmentNames,
          datasets: [
            {
              label: "Average Grades Per Assignment",
              lineTension: 0.3,
              backgroundColor: "rgba(2,117,216,0.2)",
              borderColor: "rgba(2,117,216,1)",
              pointRadius: 5,
              pointBackgroundColor: "rgba(2,117,216,1)",
              pointBorderColor: "rgba(255,255,255,0.8)",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(2,117,216,1)",
              pointHitRadius: 50,
              pointBorderWidth: 2,
              data: assignmentAvg,
            },
          ],
        },
        options: {
          scales: {
            xAxes: [
              {
                time: {
                  unit: "Assignment",
                },
                gridLines: {
                  display: false,
                },
                ticks: {
                  maxTicksLimit: 7,
                },
              },
            ],
            yAxes: [
              {
                ticks: {
                  min: 0,
                  max: 100,
                  maxTicksLimit: 5,
                },
                gridLines: {
                  color: "rgba(0, 0, 0, .125)",
                },
              },
            ],
          },
          legend: {
            display: false,
          },
        },
      });

      /*]]>*/
    </script>
  </body>
</body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
