<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/header.html}"> </head>
  <body style="background-color: #eee">
    <!-- Responsive navbar-->
    <nav th:insert="~{fragments/teachernav.html}">
    </nav>

    <!-- content -->
    <div class="container">
      <!-- student info -->
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Course Enrolled</th>
          <th>Unenroll</th>
        </tr>
        <div th:each="student:${students}">
          <tr>
            <td th:text="${student.id}">1</td>
            <td th:text="${student.name}">Li Chen</td>
            <td>
              <a
                th:text="${student.email}"
                th:href="'mailto:' + ${student.email}"
                >lichen@gmail.com</a
              >
            </td>
            <td th:text="${student.guardianName}">Yanjun Chen</td>
            <td>
              <a
                th:text="${student.guardianEmail}"
                th:href="'mailto:' + ${student.guardianEmail}"
                >YanjuChen@gmail.com</a
              >
            </td>
            <td th:text="${#strings.listJoin(student.courseList, ' ')}">
              Math 1, English 2
            </td>
            <td>
              <a
                class="text-primary"
                th:href="@{/teacher/course/{courseId}/student/unenroll/{studentId}(courseId=${courseId},studentId=${student.id})}"
              >
                unenroll</a
              >
            </td>
          </tr>
        </div>
      </table>
    </div>
  </body>
  <footer th:insert="~{fragments/footer.html}">
  </footer>
</html>
